
<ruby>
	<div class="well" style ="text-align:center; font-size:50px;"> TOPBRAINZ AFRIKA MAGAZINE</div>
	<div class="row">
		<div class="span4">WE ALWAYS PLAN

		</div>
		<div class="span4">
		

		</div>

		<div class="span4">FOR THE FUTURE

		</div>

	</div>
	<div class="navbar navbar-fixed -top navbar-inverse">
		<div class="navbar-inner">

			<ul class="nav">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Profile", ruby_profile_path %></li>
				<li><%= link_to "About Us",ruby_about_path %></li>
				<li><%= link_to "ContactUs", ruby_contactUs_path %></li>
				<li><%= link_to "Services", ruby_services_path %></li>
				<li><%= link_to "Gallery", ruby_gallery_path %></li>
				<li><%= link_to "UpcomingEvents",ruby_upcomingEvents_path %></li>
				<li><%= link_to "Comment",ruby_comment_path %></li>
				<li>
					<form class="navbar-form">
						<input type="text" class ="span1">
						<button type="text" class ="btn btn_primary" >Search

						</button>


					</form>

				</li>
				<li><%= link_to "SignIn", new_admin_session_path, :class => "pull-right offset1" %></li>

				<li><%= link_to "SignOut", destroy_admin_session_path, :method => :delete,:class => "pull-right offset1" %></li>



			</ul>

		</div>

	</div>



</ruby>
