<ruby>
	<div class="well" style ="text-align:center; font-size:50px;"> TOPBRAINZ AFRIKA MAGAZINE</div>
	<div class="row">
		<div class="span4">WE ALWAYS PLAN

		</div>
		<div class="span4">
		

		</div>

		<div class="span4">FOR THE FUTURE

		</div>

	</div>
	<div >
		<ul class="nav nav-tabs">
			<li> <%= link_to "Home", '/ruby/index'%></li>
			<li> <%= link_to "Profile", '/ruby/profile'%></li>
			<li> <%= link_to "Services", '/ruby/services'%></li>
			<li> <%= link_to "ContactUs", '/ruby/contactUs'%></li>
			<li> <%= link_to "Gallery", '/ruby/gallery'%></li>
			<li> <%= link_to "Comment", '/ruby/comment'%></li>
			<li> <%= link_to "Advertisement", '/ruby/advertisement'%></li>

			<form class="navbar-form ">
				<input type="text" class="span6" id="">
				<button type="text" class="btn btn-primary"> search</button>


			</form>



		</ul>

	</div>

</ruby>