<!DOCTYPE html>
<html>
<head>
  <title>always the best</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<body>
	<%= render 'layouts/ruby' %>

<%= yield %>


<!--<ul class="pager">
	<li>
		<a href="" class="btn btn-primary">Previous Page</a>

	</li>
	
	<li>
		<a href="" class="btn btn-primary">Current Page</a>

	</li>

	<li>
		<a href="" class="btn btn-primary">Next Page</a>

	</li>


        
        
</ul>-->
<!--<%=render 'layouts/footer'%>-->



</body>
</html>
